import logging

from azure.functions import HttpRequest, HttpResponse

# Learn more about new programming model at aka.ms/pythonprogrammingmodel
app = func.FunctionApp()

@app.route(route="hello") # HTTP Trigger
def test_function(req: HttpRequest) -> HttpResponse:
    return HttpResponse("HttpTrigger1 function processed a request!!!")
